# Learn more about .gitignore:
# https://www.atlassian.com/git/tutorials/saving-changes/gitignore

_source/
vendor/
database/
public_html/.htaccess
public_html/wp-config-sample.php


# exclude "vendor" and "node_modules" directory
/vendor/
/node_modules/

# exclude "config" directory except dist files
/config/*
!/config/*.tst
!/config/*.acc
!/config/*.stg
!/config/*.prd
!/config/*.dist
!/config/*.dev

# exclude logging
/log_sites
/log
/public_html/wp-content/debug.log

# exclude wordpress "wp-admin" and "wp-includes"
/public_html/wp-admin/
/public_html/wp-includes/

# exclude wordpress root files except "wp-config.php"
/public_html/index.php
/public_html/xmlrpc.php
/public_html/license.txt
/public_html/wp-*.php
!/public_html/wp-config.php

# exclude all uploaded files files"
/public_html/wp-content/uploads/*

# exclude all language files"
/public_html/wp-content/languages/*

# exclude all plugins
/public_html/wp-content/plugins/*
!/public_html/wp-content/plugins/api-data-plugin

# exclude all node_modules, mix-manifest.json and themes except custom-theme
/public_html/wp-content/themes/*
!/public_html/wp-content/themes/custom-theme
/public_html/wp-content/themes/custom-theme/node_modules
/public_html/wp-content/themes/custom-theme/mix-manifest.json

# ide
/.buildpath
/.settings/
/.project

# Compiled Java class files
*.class

# Compiled Python bytecode
*.py[cod]

# Log files
*.log

# Package files
*.jar

# Maven
target/
dist/

# JetBrains IDE
.idea/

# Unit test reports
TEST*.xml

# Generated by MacOS
.DS_Store

# Generated by Windows
Thumbs.db

# Applications
*.app
*.exe
*.war

# Large media files
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv

# Docker files
db_data/*